# ==============================
# LangChain & LLM Frameworks
# ==============================
langchain
langchain-community
langchain-openai
langchain-huggingface
langgraph

# ==============================
# LLM Providers
# ==============================
openai
langchain-groq
portkey-ai

# ==============================
# Vector Databases
# ==============================
chromadb
qdrant-client
faiss-cpu

# ==============================
# Embeddings
# ==============================
sentence-transformers

# ==============================
# RAG & Document Processing
# ==============================
pypdf
pdfplumber
flashrank

# ==============================
# AI / NLP & Emotion Analysis
# ==============================
transformers
torch
nemoguardrails

# ==============================
# Backend & Frontend
# ==============================
fastapi
uvicorn
streamlit

# ==============================
# Data & Validation
# ==============================
numpy
pandas
pydantic
python-dotenv

# ==============================
# Observability & Monitoring
# ==============================
logfire
langfuse
langsmith

# ==============================
# RAG Evaluation
# ==============================
ragas
deepeval


sqlalchemy
psycopg[binary]
upstash-redis
redis
pytest 
pytest-asyncio
langgraph-checkpoint-postgres