#LangChain
langchain
langchain-openai
langchain-community

# Vector Database
chromadb
qdrant-client
faiss-cpu

# Embeddings
sentence-transformers

# LLM 
openai
langchain_groq

# Frontend
streamlit

# Sentiment / Emotion Analysis
transformers
torch              

# Document Loaders (RAG)
pypdf           

# Utilities
python-dotenv
numpy

pypdf
logfire
pdfplumber
langchain-huggingface
flashrank
uvicorn 
pydantic
langgraph

nemoguardrails
portkey-ai
fastapi